h1 {
  font-size:44px;
  font-style: italic;
  color: #f5f5f5;
  background-color: #02FCF1;
  border-style: dotted;
  border-color: #CACFD2;
  padding: 10px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#02EBFC;  
  
}

li {
  display: inline;
  float: left;
 
  } 

 li a {  
  dislay block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
   
  } 
li a:hover {
  background-color:#02EBFC;
}


li a:hover {
    background color:#02EBFC;
  
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111 ;
}

li b {
    background-image:https://github.com/miffygo05249/portfolio/blob/gh-pages/240_F_171337483_cy3e7gfu3ijJ35PI6s5w3f3Fm6kE6jYZ.jpg?raw=true;
    
}

.fa-snowflake {
  color:  #FFB6C1;
  font-size: 90px;
  text-align: center;
}
