h1 {
  font-size:44px;
  font-style: italic;
  color: #FCFC02;
  background-color: #21FC02;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F202FC;
  
}

li {
  display: inline;
  float: left;
  text-align: center;
  padding:
  text-decoration: none;
  
  } 

 li a {  
  dislay block;
  color: white;
  text-decoration: none;
  
  }


li a:hover {
    background color: #02FCF3;
  
} 
